# Beta
<1 = Defensive

1> = Aggressive

In [1]:
import numpy as np
import matplotlib
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns

import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader
from pandas_datareader import data as wb
from pandas import Series, DataFrame

In [3]:
tickers = ['AMZN', 'SPY']
stock = pd.DataFrame()
for x in tickers:
    stock[x] = wb.DataReader(x, data_source = 'iex', start = '2014-05-23')['close']

5y
5y

In [4]:
stock.head(2)

              AMZN       SPY
date
2014-05-29  313.78  174.2282
2014-05-30  312.55  174.5090

In [5]:
stock.tail(3)

               AMZN     SPY
date
2019-05-23  1815.48  282.14
2019-05-24  1823.28  282.78
2019-05-28  1836.43  280.15

In [6]:
rets = np.log(stock/stock.shift(1))
(rets.head())*100

                AMZN       SPY
date
2014-05-29       NaN       NaN
2014-05-30 -0.392765  0.161038
2014-06-02 -1.194111  0.111508
2014-06-03 -0.535689 -0.049238
2014-06-04 -0.133557  0.202066

In [7]:
avg_rets = rets.mean()*250
ar = (avg_rets)*100
ar

AMZN    35.140944
SPY      9.446286
dtype: float64

In [8]:
amzn_sd = rets['AMZN'].std()*250**0.5
amzn_sd

0.29890787361061666

In [9]:
cov = rets.cov()*250
cov

          AMZN       SPY
AMZN  0.089346  0.023349
SPY   0.023349  0.017607

In [10]:
rets.corr()

          AMZN       SPY
AMZN  1.000000  0.588701
SPY   0.588701  1.000000

In [11]:
cov_mark = cov.iloc[0,1]
cov_mark

0.023349230333410353

In [12]:
mark_var = rets['SPY'].var()*250
mark_var

0.017606795733883823

In [25]:
beta = cov_mark/mark_var
round(beta, 2)

1.33

# Expected Equity Return (CAPM)
> Risk-Free Return = 2.36%

> Equity Risk Premium = 5%

In [31]:
amzn_er = 0.0236 + beta*0.05
print(str(round(amzn_er*100, 2)) + '%')

8.99%

In [15]:
assets = ['INTC', 'SPY']
data = pd.DataFrame()
for b in assets:
    data[b] = wb.DataReader(b, data_source = 'iex', start = '2014-05-23')['close']

5y
5y

In [16]:
data.head(2)

               INTC       SPY
date
2014-05-29  23.4281  174.2282
2014-05-30  23.7409  174.5090

In [17]:
data.tail(2)

             INTC     SPY
date
2019-05-24  44.57  282.78
2019-05-28  43.57  280.15

In [18]:
retu = np.log(data/data.shift(1))
(retu.head())*100

                INTC       SPY
date
2014-05-29       NaN       NaN
2014-05-30  1.326314  0.161038
2014-06-02 -0.219694  0.111508
2014-06-03  1.456699 -0.049238
2014-06-04 -0.217407  0.202066

In [19]:
avgr = retu.mean()*250
(avgr)*100

INTC    12.339552
SPY      9.446286
dtype: float64

In [20]:
cova = retu.cov()*250
cova

          INTC       SPY
INTC  0.066203  0.021422
SPY   0.021422  0.017607

In [21]:
covm = cova.iloc[0,1]
covm

0.02142183791979128

In [22]:
markvar = retu['SPY'].var()*250
markvar

0.017606795733883823

In [26]:
i_beta = covm/markvar
round(i_beta, 2)

1.22

# Sharpe Ratio

> Risk-Free Rate - Stock Rate of Return/Stock Standard Deviation

> Return of a stock relative to its risk

In [32]:
sharpe = (amzn_er - 0.05)/amzn_sd
print(str(round(sharpe*100, 2)) + '%')

13.35%