In [1]:
#Index objects
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
series1 = Series([5, 10 , 15 ,20], index = ['A', 'B', 'C', 'D'])
series1

A     5
B    10
C    15
D    20
dtype: int64

In [3]:
series_ex = series1.index
series_ex

Index(['A', 'B', 'C', 'D'], dtype='object')

In [6]:
print(series_ex[1])

B

In [7]:
series_ex[:2]

Index(['A', 'B'], dtype='object')

In [9]:
series_ex[0] = 'X'
series_ex[0]                                              #Index values are immutable - can't change them

TypeError: Index does not support mutable operations

In [10]:
#Reindex objects
from numpy.random import randn

In [11]:
series2 = Series([2, 4, 8, 16], index = ['X', 'Y', 'Z', 'W'])
series2

X     2
Y     4
Z     8
W    16
dtype: int64

In [106]:
ser3 = series2.reindex(['X', 'Y', 'A', 'W', 'C'])                  #Index values not found in original are given null values
ser3

X     2.0
Y     4.0
A     NaN
W    16.0
C     NaN
dtype: float64

In [111]:
ser50 = ser3.reindex(['X', 'T', 'B', 'W'], fill_value=0)
#Instead of null values, 'fill_value' replaces 'NaN' with a specific value
ser50

X     2.0
T     0.0
B     0.0
W    16.0
dtype: float64

In [25]:
ser4 = Series(['Mexico', 'Canada', 'USA'], index = [0, 8, 15])
ser4

0     Mexico
8     Canada
15       USA
dtype: object

In [29]:
test = range(21)

In [30]:
test

range(0, 21)

In [31]:
ser4.reindex(test, method = 'ffill')

0     Mexico
1     Mexico
2     Mexico
3     Mexico
4     Mexico
5     Mexico
6     Mexico
7     Mexico
8     Canada
9     Canada
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
15       USA
16       USA
17       USA
18       USA
19       USA
20       USA
dtype: object

In [84]:
example = DataFrame(randn(25).reshape((5, 5)), index = ['A', 'B', 'C', 'D', 'E'],
                    columns = ['#1', '#2', '#3', '#4', '#5'])
example

         #1        #2        #3        #4        #5
A -0.139095 -0.129829 -0.536974 -0.580684  1.735197
B -0.790510 -1.154619 -0.188317 -0.935653  1.088255
C -0.013163  0.474256  0.919193  1.558943  0.155970
D  1.511395 -0.141668 -0.273792 -0.621282 -0.343855
E  0.530399  1.481996  1.265871 -0.759999  0.073899

In [85]:
example2 = example.reindex(['A', 'B', 'f', 'D', 'E'])
example2

         #1        #2        #3        #4        #5
A -0.139095 -0.129829 -0.536974 -0.580684  1.735197
B -0.790510 -1.154619 -0.188317 -0.935653  1.088255
f       NaN       NaN       NaN       NaN       NaN
D  1.511395 -0.141668 -0.273792 -0.621282 -0.343855
E  0.530399  1.481996  1.265871 -0.759999  0.073899

In [93]:
new_columns = ['#1', '#2', '#3', '#4', '#5', '#6']                #Must be in the same format as original column titles eg. #X

In [94]:
example2.reindex(columns=new_columns)

         #1        #2        #3        #4        #5  #6
A -0.139095 -0.129829 -0.536974 -0.580684  1.735197 NaN
B -0.790510 -1.154619 -0.188317 -0.935653  1.088255 NaN
f       NaN       NaN       NaN       NaN       NaN NaN
D  1.511395 -0.141668 -0.273792 -0.621282 -0.343855 NaN
E  0.530399  1.481996  1.265871 -0.759999  0.073899 NaN

In [95]:
example

         #1        #2        #3        #4        #5
A -0.139095 -0.129829 -0.536974 -0.580684  1.735197
B -0.790510 -1.154619 -0.188317 -0.935653  1.088255
C -0.013163  0.474256  0.919193  1.558943  0.155970
D  1.511395 -0.141668 -0.273792 -0.621282 -0.343855
E  0.530399  1.481996  1.265871 -0.759999  0.073899

In [105]:
example.loc[['A', 'B', 'EXAMPLE', 'D', 'E'], new_columns]              
#Faster than indexing separately ('.iloc' doesn't work for this as this is label positioning -> '.loc')

C:\Users\Naois\Downloads\Coding Software\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

               #1        #2        #3        #4        #5  #6
A       -0.139095 -0.129829 -0.536974 -0.580684  1.735197 NaN
B       -0.790510 -1.154619 -0.188317 -0.935653  1.088255 NaN
EXAMPLE       NaN       NaN       NaN       NaN       NaN NaN
D        1.511395 -0.141668 -0.273792 -0.621282 -0.343855 NaN
E        0.530399  1.481996  1.265871 -0.759999  0.073899 NaN